<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: darkorange;">Registro de Asistencia</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <!---  SEGMENTOS -->
<ion-segment [(ngModel)]="segment">
  <ion-segment-button value="scan">
    <ion-label>Scan QR</ion-label>
  </ion-segment-button>

  <ion-segment-button value="generate">
    <ion-label>Generar QR</ion-label>
  </ion-segment-button>
</ion-segment>


  <!---  ESCANEAR EL QR -->
<div *ngIf="segment === 'scan'">
  este segmento es igual a escanear
</div>

  <!---  GENERAR EL QR -->
<div class="segment" *ngIf="segment === 'generate'">
  <div class="segment-content">
    <ion-accordion-group>
      <ion-accordion *ngFor="let asignatura of asign">
        <ion-item slot="header" color="light">
          <ion-label class="progra"> {{ asignatura.nombre }} </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div id="qrImage">
            <div class="d-flex-center">
              <div class="d-flex-center qr-wrapper">
                <qr-code [value]="asignatura.qrText"
                  size="190"
                  errorCorrectionLevel="M">
                </qr-code>
              </div>
            </div>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="color: darkorange;">Menu</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
